html{
  text-rendering: optimizelegibility;
}
body{
    background-color:#b3c3f2;
    margin: 0;
    padding: 0;
    position: absolute;
}
#about{
  color:black;
  text-align: center;
  font-size:30px;
}

#full-name{
  font-family:"Eurostile",sans-serif;
    position: absolute;
    top:0;
    left:34px;
    color:#d5d8e8;   
		font-size: 18px;
    font-weight: 1000;
    margin: 0px;
    font-weight: bold;
    }

#person-description{
  font-family:"Eurostile",sans-serif;
  color:#d5d8e8; 
  font-size: 14px;
  font-weight: 1000;
  position: absolute;
 top:10px;
 
}
header{
  position: relative;
  background-color:black;
  border-bottom:#000000 2px solid;
  width: 100%;
  height:50px;
  margin: 0px;
}

#person-description,#projects-anchor,#about-anchor,#skills-anchor{
  color:#d5d8e8;
  margin-left: 4px;
  margin-right:10px;
  display: inline;
  vertical-align:middle;
}
#anchors{
  float: right;
  font-size: 20px;
  line-height: 45px;
}
#about-anchor,#skills-anchor,#projects-anchor{
  text-decoration: none;

}
#about-anchor:hover,#projects-anchor:hover,#skills-anchor:hover{
  text-decoration: underline;
}
#Concordia-Logo{
  height: 45px;
  width: 30px;
  float: left;
}
#welcome-description{
  color:black;; 
  word-wrap: break-word;
  margin: 0 auto; 
  text-align: center;
}
#skills{
  text-align: center;
}
#python-logo{
  width: 15%;
  height:15%;
}
#java-logo{
  width:4%;
  height:4%;
}
#HTML5-logo{
  width:5%;
  height:5%;
}
#CSS3-logo{
  width:5%;
  height:5%;
}
#CSharp-logo{
  width:5%;
  height:5%;
}
#Lua-logo{
  width:5%;
  height:5%;
}
#AR-geospatial{
  width:15%;
  height:15%;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor:pointer;

}
@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('Fonts/eurostile.woff') format('woff');
  }
      
      
@font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('Fonts/EuroStyle Normal.woff') format('woff');
 }
