html{
  text-rendering: optimizelegibility;
}
body{
    background-color:#333333;
    margin: 0;
    padding: 0;
    position: absolute;
}
section{
  position:relative;
  top:20px;
}
#container-about{
  background-color: red;
}
#about{
  color:black;
  text-align: center;
  font-size:30px;
  position: relative;
}
#skills{
  position:relative;
  text-align: center;
  font-size:30px;
}
#container-skill-project{
  position:relative;
  top:20px;
}
#projects{
  position:relative;
  text-align:center;
  font-size:30px;
}
#full-name{
  font-family:"Eurostile",sans-serif;
    position: absolute;
    top:5px;
    left:34px;
    color:black;   
		font-size: 30px;
    font-weight: 1000;
    margin: 0px;
    font-weight: bold;
    }

#person-description{
  font-family:"Eurostile",sans-serif;
  color:#d5d8e8; 
  font-size: 20px;
  font-weight: 1000;
  position: absolute;
  top:15px;
 
}
header{
  position: relative;
  background-color:#fafafa;
  border-bottom:#fafafa 2px solid;
  width: 100%;
  height:60px;
  margin: 0px;
}

#person-description,#projects-anchor,#about-anchor,#skills-anchor{
  color:black;
  margin-left: 4px;
  margin-right:10px;
  display: inline;
  vertical-align:middle;
}
#anchors{
  float: right;
  font-size: 30px;
  line-height: 55px;

}
#about-anchor,#skills-anchor,#projects-anchor{
  text-decoration: none;

}
#about-anchor:hover,#projects-anchor:hover,#skills-anchor:hover{
  text-decoration: underline;
}
#Concordia-Logo{
  height: 45px;
  width: 30px;
  float: left;
}
#welcome-description{
  color:black;; 
  word-wrap: break-word;
  margin: 0 auto; 
  text-align: justify;
  font-size:20px;
  line-height:150%;
  width:70%;
}
#job-status{
  font-size:25px;
  text-align:center;
  position:relative;
}

#python-logo{
  width: 15%;
  height:15%;
}
#java-logo{
  width:4%;
  height:4%;
}
#HTML5-logo{
  width:5%;
  height:5%;
}
#CSS3-logo{
  width:5%;
  height:5%;
}
#CSharp-logo{
  width:5%;
  height:5%;
}
#Lua-logo{
  width:5%;
  height:5%;
}
#unity-logo{
  width:5%;
  height:5%;
}
#AR-geospatial{
  width:15%;
  height:15%;
}
#AR-geospatial-modal{
  width:50%;
  height:50%;
}
#circle-click{
  border-radius:12px;
  height:12px;
  width:12px;
  border:1px solid black;
  display: inline-block;}
#circle-click1{
  border-radius:12px;
  height:12px;
  width:12px;
  border:1px solid black;
  display: inline-block;
  position: relative;
  left: 20px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor:pointer;

}
#email-logo{
width:3%;
height: 3%;
}
#horizontal-line-skills{
  border: none;
  width:80%;
  height:0.5px;
  background-color: #333;
  position:static;
}
#horizontal-line-about{

  border: none;
  width:80%;
  height:0.5px;
  background-color: #333;
}
#horizontal-line-projects{
  border: none;
  width:80%;
  height:0.5px;
  background-color: #333;
  
}
#AR-geospatial-text{
  position: relative;
  left: 500px;
  bottom:200px;
}
@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('Fonts/eurostile.woff') format('woff');
  }
      
      
@font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('Fonts/EuroStyle Normal.woff') format('woff');
 }
