html{
  text-rendering: optimizelegibility;
}
body{
    background-color: #050526;
    margin: 0;
    padding: 0;

}
#about{
  color:#d5d8e8;
  text-align: center;
  font-size:30px;

}
#full-name{
  font-family:"Eurostile",sans-serif;
    position: absolute;
    top:0;
    left:50px;
    color:#d5d8e8;   
		font-size: 18px;
    font-weight: 1000;
    margin: 0px;
    font-weight: bold;
    }

#person-description{
  font-family:"Eurostile",sans-serif;
  color:#d5d8e8; 
  font-size: 14px;
  font-weight: 1000;
  position: static;
  margin-top: 0px;

}
header{
  background-color:black;
  border-bottom:#000000 2px solid;
  width: 100%;
  height:50px;
  margin: 0px;
}

#person-description,#about-anchor,#skills-anchor,#projects-anchor{
  display: inline;
  color:#d5d8e8;
  margin-left: 4px;
  margin-right:10px;
}
#anchors{
  
  float: right;
  font-size: 20px;
}
#Concordia-Logo{
  height: 45px;
  width: 30px;
  float: left;
}
#welcome-description{
  color:#d5d8e8; 
  word-wrap: break-word;

}
#welcome-description-container{
}

@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('Fonts/eurostile.woff') format('woff');
  }
      
      
@font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('Fonts/EuroStyle Normal.woff') format('woff');
 }
