html{
  text-rendering: optimizelegibility;
}
body{
    background-color:#333333;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 1000px;
    font-family:"Eurostile",sans-serif;

}

section{
  position:relative;
  top:20px;
}
footer{
}
#container-about{
  background-color: #C26868;
 
}
#container-skill{
  background-color:#ddd;
 
}
#container-project{
  background-color:#baf5eb;

}
#about{
  position:relative;
  font-size:30px;
  margin-left:21.8%;
  
}
#skills{
  position:relative;
  font-size:30px;
  margin-left:23.5%;
}

#projects{
  position:relative;
  font-size:30px;
  margin-left:22.3%;
}
#full-name{
  font-family:"Eurostile",sans-serif;
    position: absolute;
    top:5px;
    left:34px;
    color:black;   
		font-size: 30px;
    font-weight: 1000;
    margin: 0px;
    font-weight: bold;
    }

#person-description{
  font-family:"Eurostile",sans-serif;
  color:#d5d8e8; 
  font-size: 20px;
  font-weight: 1000;
  position: relative;
  top:30px;
  left:30px;
  
}
header{
  position: relative;
  background-color:#fafafa;
  border-bottom:#fafafa 2px solid;
  width: 100%;
  height:60px;
  margin: 0px;
}

#person-description,#projects-anchor,#about-anchor,#skills-anchor{
  color:black;
  margin-left: 4px;
  margin-right:10px;
  display: inline;
  vertical-align:middle;
}
#anchors{
  float: right;
  font-size: 30px;
  line-height: 55px;

}
#about-anchor,#skills-anchor,#projects-anchor{
  text-decoration: none;

}
#about-anchor:hover,#projects-anchor:hover,#skills-anchor:hover{
  text-decoration: underline;
}

#welcome-description{
  color:black;
  word-wrap: break-word;
  margin-left: 25%;
  text-align: justify;
  font-size:20px;
  line-height:150%;
  width:45%;
  
}
#job-status{
  font-size:25px;
  margin-left: 16vw;
  position:relative;
}

#python-logo{
  position:relative;
  max-width:14%;
  margin-left:25%;

}
#java-logo{
  position:relative;
  max-width:4%;
  margin-top:10px;
  right:0px;
  margin-left:3%;

}
#CSharp-logo{
  position:relative;
  max-width:6%;
  margin-top:10px;
  right:0px;
  margin-left:5.5%;


}
#Lua-logo{
  position:relative;
  max-width:6%;
  right:0px;
  margin-left:6%;
  
}
#HTML5-logo{
  position:relative;
  max-width:7%;
  margin-left:29%;
  margin-top:50px;
  right:0px;

}
#CSS3-logo{
  position:relative;
  max-width:5%;
  right:0px;
  margin-left:5.5%;

}
#javascript-logo{
  position:relative;
  max-width:5%;
  margin-left:5%;
  right:0px;
  left:10px;

}

#unity-logo{
  position:relative;
  max-width:15%;
  right:0px;
  margin-left:2%;
  top:15px;
 
}
#cpp-logo{
  position:relative;
  max-width:6%;
  margin-left:29.5%;
  margin-top:50px;
  right:0px;
  margin-bottom: 50px;

}
#sql-logo{
  position:relative;
  max-width:11%;
  margin-left:3%;
  right:0px;
  margin-bottom: 50px;
  bottom:10px;

}
#selenium-logo{
  position:relative;
  max-width:8%;
  margin-left:1%;
  right:0px;
  margin-bottom: 50px;
 bottom:5px;
}

#git-logo{
  position:relative;
  max-width:10%;
  margin-left:3%;
  right:0px;
  margin-bottom: 50px;
 bottom:15px;
}
#AR-geospatial{
  min-width:25%;
  max-width:25%;
  position: relative;
  margin-top:1%;
  margin-left:24%;

}
#agent-commission{
  min-width:22.5%;
  max-width:22.5%;
  position: relative;
  margin-top:1%;
  margin-left:3%;

}
#kutsu{
  min-width:22.5%;
  max-width:22.5%;
  position: relative;
  margin-left:25%;
  margin-top:2%;
}
#cute-okay{
  min-width:22.5%;
  max-width:22.5%;
  position: relative;
  margin-left:4.5%;
  
}
#agent-commission-modal{
  width:60%;

  
}
#agent-commission-modal-text{
  position:relative;
  margin-left:48vw;
  bottom:27vw;
}
#kutsu-modal-text{
  position:relative;
  margin-left:48vw;
  bottom:27vw;
}
#cute-okay-modal-text{
  position:relative;
  margin-left:48vw;
  bottom:26vw;
}

@media only screen and (min-width: 1000px){

#AR-project-Text{
  margin-left:24%;
  font-size:1.6vw;
  position:relative;
}
}
@media only screen and (max-width: 1000px){
#AR-project-Text{
  margin-left:24%;
  font-size:16px;
  position:relative;
}
}
@media only screen and (min-width: 1000px){
#agent-commission-Text{
margin-left:5%;
font-size: 1.6vw;
position:relative;
}
}
@media only screen and (max-width: 1000px){
#agent-commission-Text{
margin-left:4.5%;
font-size:16px;
position:relative;
}
}
@media only screen and (min-width: 1000px){
#kutsu-Text{
  margin-left:27%;
  font-size:1.6vw;
  position:relative;
}
}
@media only screen and (max-width: 1000px){
#kutsu-Text{
  margin-left:27%;
 font-size:16px;
  position:relative;
}
}
@media only screen and (min-width: 1000px){
#cute-okay-Text{
  margin-left:8%;
  font-size: 1.6vw;
  position:relative;
}}
@media only screen and (max-width: 1000px){
#cute-okay-Text{
  margin-left:8%;
 font-size:16px;
  position:relative;
}}
#AR-geospatial-modal{
  width:60%;

}
#kutsu-modal{
  width:60%;
}
#cuteokay-modal{
  width:60%;
}
.circle{
  border-radius:12px;
  height:20px;
  width:20px;
  border:1px solid black;
  display: inline-block;
  background-color:black;
  position: relative;
  bottom:15px;
  margin-left:25%;
}

.circle1{
  border-radius:12px;
  height:20px;
  width:20px;
  border:1px solid black;
  display: inline-block;
  margin-left: 2%;
  position: relative;
  bottom:15px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor:pointer;

}
#email-logo{
font-size:40px;
}

#github-logo{
 font-size:40px;

}
#linkedin-logo{
  font-size:40px;
 }
 #icons{
   text-align:center;
   
 }
#horizontal-line-skills{
  position: absolute;
  margin-left:22%;
  width: 120px;
  height: 1px;
  border-top: 1px solid black;
}
#horizontal-line-about{
  position: relative ;
  left:22%;
  width: 120px;
  height: 1px;
  border-top: 1px solid black;

}

#horizontal-line-projects{
  position: relative;
  left:22%;
  width: 120px;
  height: 1px;
  border-top: 1px solid black;

}
#AR-geospatial-text{
  position:relative;
  margin-left:48vw;
  bottom:25vw;
}
@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('Fonts/eurostile.woff') format('woff');
  }
      
      
@font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('Fonts/EuroStyle Normal.woff') format('woff');
 }
